
       /* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #263c86, #fe1924);
}

/* Container */
div {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}

/* Buttons */
button {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #764ba2;
    background-color:aquamarine;
}

/* Individual button colors */
 #addBtn {
    background-color: #4CAF50;
    color: #ffffff;
} 

#getBtn {
    background-color: #2196F3;
    color: #ffffff;
} 

 #removeBtn {
    background-color: #F44336;
    color: #ffffff;
} 

/* Hover effects */
button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
    color: black;
    background-color: brown;
}

/* Active click effect */
button:active {
    transform: scale(0.98);
}

  